fastapi
uvicorn
python-dotenv
python-multipart
httpx
mypy
PyMuPDF
pymupdf-layout
pymupdf4llm
openai
google-genai
pymongo
psycopg[binary]
sqlalchemy
deepgram-sdk
pydantic
annotated-doc
annotated-types
anyio
click
colorama
h11
idna
pydantic_core
starlette
typing-inspection
typing_extensions
